doctypes/rng/learning2Domain.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:dita="http://dita.oasis-open.org/architecture/2005/" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Learning  Domain</moduleTitle>
    <headerComment xml:space="preserve">
=============================================================
                          HEADER
=============================================================
 MODULE:    DITA Learning 2 Domain (for compatibility with 
            1.3 learning2 domain element type names)
 VERSION:   2.0                                       
 DATE:      November 2023                           
                                                             
=============================================================

=============================================================
                   PUBLIC DOCUMENT TYPE DEFINITION           
                   TYPICAL INVOCATION                        
                                                             
 Refer to this file by the following public identfier or an 
      appropriate system identifier:
      
urn:pubid:oasis:names:tc:dita:spec:learning:rng:learning2Domain.rng:2.0"

=============================================================
SYSTEM:     Darwin Information Typing Architecture (DITA)    
                                                             
PURPOSE:    Declaring the elements and specialization        
            attributes for Learning Domain                   
                                                             
ORIGINAL CREATION DATE:                                      
            November 2023                         
            
                                                             
            (C) Copyright OASIS Open 2023          
            All Rights Reserved.                             
                                      
UPDATES:
   2023.11.05 WEK: Updated for DITA 2.0.
                                      
=============================================================  
</headerComment>
    <moduleMetadata>
      <moduleType>elementdomain</moduleType>
      <moduleShortName>learning-d</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//OASIS//ELEMENTS DITA<var presep=" " name="ditaver"/> Learning 2 Domain//EN</dtdMod>
        <dtdEnt>-//OASIS//ENTITIES DITA<var presep=" " name="ditaver"/> Learning 2 Domain//EN</dtdEnt>
        <xsdMod>urn:pubid:oasis:names:tc:dita:spec:learning:xsd:learning2Domain.xsd<var presep=":" name="ditaver"/></xsdMod>
        <rncMod>urn:pubid:oasis:names:tc:dita:spec:learning:rnc:learning2Domain.rnc<var presep=":" name="ditaver"/></rncMod>
        <rngMod>urn:pubid:oasis:names:tc:dita:spec:learning:rng:learning2Domain.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
    </moduleMetadata>
  </moduleDesc>
  <div>
    <a:documentation>DOMAIN EXTENSION PATTERNS</a:documentation>
    <define name="learning2-d-div">
      <choice>
        <ref name="lcTrueFalse2.element"/>
        <ref name="lcSingleSelect2.element"/>
        <ref name="lcMultipleSelect2.element"/>
        <ref name="lcSequencing2.element"/>
        <ref name="lcMatching2.element"/>
        <ref name="lcHotspot2.element"/>
        <ref name="lcOpenQuestion2.element"/>
      </choice>
    </define>
    <define name="div" combine="choice">
      <ref name="learning2-d-div"/>
    </define>
    <define name="learning2-d-lcInteractionBase">
      <choice>
        <ref name="lcTrueFalse2.element"/>
        <ref name="lcSingleSelect2.element"/>
        <ref name="lcMultipleSelect2.element"/>
        <ref name="lcSequencing2.element"/>
        <ref name="lcMatching2.element"/>
        <ref name="lcHotspot2.element"/>
        <ref name="lcOpenQuestion2.element"/>
      </choice>
    </define>
    <define name="lcInteractionBase" combine="choice">
      <ref name="learning2-d-lcInteractionBase"/>
    </define>
    <define name="learning2-d-note">
      <ref name="lcInstructornote2.element"/>
    </define>
    <define name="note" combine="choice">
      <ref name="learning2-d-note"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="lcInstructorNote2">
      <ref name="lcInstructornote2.element"/>
    </define>
    <define name="lcQuestion2">
      <ref name="lcQuestion2.element"/>
    </define>
    <define name="lcOpenAnswer2">
      <ref name="lcOpenAnswer2.element"/>
    </define>
    <define name="lcAnswerOptionGroup2">
      <ref name="lcAnswerOptionGroup2.element"/>
    </define>
    <define name="lcAsset2">
      <ref name="lcAsset2.element"/>
    </define>
    <define name="lcFeedbackCorrect2">
      <ref name="lcFeedbackCorrect2.element"/>
    </define>
    <define name="lcFeedbackIncorrect2">
      <ref name="lcFeedbackIncorrect2.element"/>
    </define>
    <define name="lcAnswerOption2">
      <ref name="lcAnswerOption2.element"/>
    </define>
    <define name="lcAnswerContent2">
      <ref name="lcAnswerContent2.element"/>
    </define>
    <define name="lcSequenceOptionGroup2">
      <ref name="lcSequenceOptionGroup2.element"/>
    </define>
    <define name="lcSequenceOption2">
      <ref name="lcSequenceOption2.element"/>
    </define>
    <define name="lcSequence2">
      <ref name="lcSequence2.element"/>
    </define>
    <define name="lcMatchTable2">
      <ref name="lcMatchTable2.element"/>
    </define>
    <define name="lcMatchingHeader2">
      <ref name="lcMatchingHeader2.element"/>
    </define>
    <define name="lcMatchingPair2">
      <ref name="lcMatchingPair2.element"/>
    </define>
    <define name="lcItem2">
      <ref name="lcItem2.element"/>
    </define>
    <define name="lcMatchingItem2">
      <ref name="lcMatchingItem2.element"/>
    </define>
    <define name="lcMatchingItemFeedback2">
      <ref name="lcMatchingItemFeedback2.element"/>
    </define>
    <define name="lcHotspotMap2">
      <ref name="lcHotspotMap2.element"/>
    </define>
    <define name="lcArea2">
      <ref name="lcArea2.element"/>
    </define>
    <define name="lcAreaShape2">
      <ref name="lcAreaShape2.element"/>
    </define>
    <define name="lcAreaCoords2">
      <ref name="lcAreaCoords2.element"/>
    </define>
    <define name="lcCorrectResponse2">
      <ref name="lcCorrectResponse2.element"/>
    </define>
    <define name="lcFeedback2">
      <ref name="lcFeedback2.element"/>
    </define>
    <define name="lcInteractionLabel2">
      <ref name="lcInteractionLabel2.element"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>
    <div>
      <a:documentation>MISCELANEOUS TYPES</a:documentation>
    <div>
      <a:documentation>LONG NAME: Instructor note</a:documentation>
      <define name="lcInstructornote2.content">
        <zeroOrMore>
          <ref name="note.cnt"/>
        </zeroOrMore>
      </define>
      <define name="lcInstructornote2.attributes">
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <ref name="univ-atts"/>
     </define>
      <define name="lcInstructornote2.element">
        <element name="lcInstructornote" dita:longName="Instructor note">
          <a:documentation><![CDATA[Use the <lcInstructornote2> element to provide information or notes you want to provide to the course instructor. These notes can be conditionnalized out of content you intend to deliver to the learner. ]]></a:documentation>
          <ref name="lcInstructornote2.attlist"/>
          <ref name="lcInstructornote2.content"/>
        </element>
      </define>
      <define name="lcInstructornote2.attlist" combine="interleave">
        <ref name="lcInstructornote2.attributes"/>
      </define>
    </div>
    </div>
    <div>
      <a:documentation>INTERACTION DEFINITIONS</a:documentation>
      <div>
        <a:documentation>LONG NAME: True or false interaction</a:documentation>
        <define name="lcTrueFalse2.content">
          <optional>
            <ref name="lcInteractionLabel2"/>
          </optional>
          <ref name="lcQuestion2"/>
          <zeroOrMore>
            <ref name="lcAsset2"/>
          </zeroOrMore>
          <ref name="lcAnswerOptionGroup2"/>
          <optional>
            <ref name="lcFeedbackIncorrect2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackCorrect2"/>
          </optional>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
        </define>
        <define name="lcTrueFalse2.attributes">
          <optional>
            <attribute name="id">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <ref name="conref-atts"/>
          <ref name="select-atts"/>
          <ref name="localization-atts"/>
     </define>
        <define name="lcTrueFalse2.element">
          <element name="lcTrueFalse2" dita:longName="True or false interaction" dita:since="1.2">
            <a:documentation><![CDATA[A lcTrueFalse interaction presents the learner with two choices, one correct, the other incorrect, often presented as true/false or yes/no responses. ]]></a:documentation>
            <ref name="lcTrueFalse2.attlist"/>
            <ref name="lcTrueFalse2.content"/>
          </element>
        </define>
        <define name="lcTrueFalse2.attlist" combine="interleave">
          <ref name="lcTrueFalse2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Single selection interaction</a:documentation>
        <define name="lcSingleSelect2.content">
          <optional>
            <ref name="lcInteractionLabel2"/>
          </optional>
          <ref name="lcQuestion2"/>
          <zeroOrMore>
            <ref name="lcAsset2"/>
          </zeroOrMore>
          <ref name="lcAnswerOptionGroup2"/>
          <optional>
            <ref name="lcFeedbackIncorrect2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackCorrect2"/>
          </optional>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
        </define>
        <define name="lcSingleSelect2.attributes">
          <optional>
            <attribute name="id">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <ref name="conref-atts"/>
          <ref name="select-atts"/>
          <ref name="localization-atts"/>
     </define>
        <define name="lcSingleSelect2.element">
          <element name="lcSingleSelect2" dita:longName="Single selection interaction" dita:since="1.2">
            <a:documentation><![CDATA[An lcSingleSelect interaction presents three or more choices, only one of which is correct. ]]></a:documentation>
            <ref name="lcSingleSelect2.attlist"/>
            <ref name="lcSingleSelect2.content"/>
          </element>
        </define>
        <define name="lcSingleSelect2.attlist" combine="interleave">
          <ref name="lcSingleSelect2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Multiple selection interaction</a:documentation>
        <define name="lcMultipleSelect2.content">
          <optional>
            <ref name="lcInteractionLabel2"/>
          </optional>
          <ref name="lcQuestion2"/>
          <zeroOrMore>
            <ref name="lcAsset2"/>
          </zeroOrMore>
          <ref name="lcAnswerOptionGroup2"/>
          <optional>
            <ref name="lcFeedbackIncorrect2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackCorrect2"/>
          </optional>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
        </define>
        <define name="lcMultipleSelect2.attributes">
          <optional>
            <attribute name="id">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <ref name="conref-atts"/>
          <ref name="select-atts"/>
          <ref name="localization-atts"/>
     </define>
        <define name="lcMultipleSelect2.element">
          <element name="lcMultipleSelect2" dita:longName="Multiple selection interaction" dita:since="1.2">
            <a:documentation><![CDATA[In an lcMultipleSelect interaction, the learner must indicate two or more correct answers from a list of choices. ]]></a:documentation>
            <ref name="lcMultipleSelect2.attlist"/>
            <ref name="lcMultipleSelect2.content"/>
          </element>
        </define>
        <define name="lcMultipleSelect2.attlist" combine="interleave">
          <ref name="lcMultipleSelect2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Sequencing interaction</a:documentation>
        <define name="lcSequencing2.content">
          <optional>
            <ref name="lcInteractionLabel2"/>
          </optional>
          <ref name="lcQuestion2"/>
          <zeroOrMore>
            <ref name="lcAsset2"/>
          </zeroOrMore>
          <ref name="lcSequenceOptionGroup2"/>
          <optional>
            <ref name="lcFeedbackIncorrect2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackCorrect2"/>
          </optional>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
        </define>
        <define name="lcSequencing2.attributes">
          <optional>
            <attribute name="id">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <ref name="conref-atts"/>
          <ref name="select-atts"/>
          <ref name="localization-atts"/>
     </define>
        <define name="lcSequencing2.element">
          <element name="lcSequencing2" dita:longName="Sequencing interaction" dita:since="1.2">
            <a:documentation><![CDATA[An lcSequencing interaction asks the learner to arrange a list of choices into a predefined order, such as small to large. ]]></a:documentation>
            <ref name="lcSequencing2.attlist"/>
            <ref name="lcSequencing2.content"/>
          </element>
        </define>
        <define name="lcSequencing2.attlist" combine="interleave">
          <ref name="lcSequencing2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Matching interaction</a:documentation>
        <define name="lcMatching2.content">
          <optional>
            <ref name="lcInteractionLabel2"/>
          </optional>
          <ref name="lcQuestion2"/>
          <zeroOrMore>
            <ref name="lcAsset2"/>
          </zeroOrMore>
          <ref name="lcMatchTable2"/>
          <optional>
            <ref name="lcFeedbackIncorrect2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackCorrect2"/>
          </optional>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
        </define>
        <define name="lcMatching2.attributes">
          <optional>
            <attribute name="id">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <ref name="conref-atts"/>
          <ref name="select-atts"/>
          <ref name="localization-atts"/>
     </define>
        <define name="lcMatching2.element">
          <element name="lcMatching2" dita:longName="Matching interaction" dita:since="1.2">
            <a:documentation><![CDATA[In an lcMatching interaction, the learner identifies the correct choice that matches another choice. ]]></a:documentation>
            <ref name="lcMatching2.attlist"/>
            <ref name="lcMatching2.content"/>
          </element>
        </define>
        <define name="lcMatching2.attlist" combine="interleave">
          <ref name="lcMatching2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Hotspot interaction</a:documentation>
        <define name="lcHotspot2.content">
          <optional>
            <ref name="lcInteractionLabel2"/>
          </optional>
          <ref name="lcQuestion2"/>
          <ref name="lcHotspotMap2"/>
          <optional>
            <ref name="lcFeedbackIncorrect2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackCorrect2"/>
          </optional>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
        </define>
        <define name="lcHotspot2.attributes">
          <optional>
            <attribute name="id">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <ref name="conref-atts"/>
          <ref name="select-atts"/>
          <ref name="localization-atts"/>
     </define>
        <define name="lcHotspot2.element">
          <element name="lcHotspot2" dita:longName="Hotspot interaction" dita:since="1.2">
            <a:documentation><![CDATA[In a lcHotspot interaction, the learner clicks on a region of the screen to indicate a choice. ]]></a:documentation>
            <ref name="lcHotspot2.attlist"/>
            <ref name="lcHotspot2.content"/>
          </element>
        </define>
        <define name="lcHotspot2.attlist" combine="interleave">
          <ref name="lcHotspot2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Open-ended question interaction</a:documentation>
        <define name="lcOpenQuestion2.content">
          <optional>
            <ref name="lcInteractionLabel2"/>
          </optional>
          <ref name="lcQuestion2"/>
          <zeroOrMore>
            <ref name="lcAsset2"/>
          </zeroOrMore>
          <optional>
            <ref name="lcOpenAnswer2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackIncorrect2"/>
          </optional>
          <optional>
            <ref name="lcFeedbackCorrect2"/>
          </optional>
          <zeroOrMore>
            <ref name="data"/>
          </zeroOrMore>
        </define>
        <define name="lcOpenQuestion2.attributes">
          <optional>
            <attribute name="id">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <ref name="conref-atts"/>
          <ref name="select-atts"/>
          <ref name="localization-atts"/>
     </define>
        <define name="lcOpenQuestion2.element">
          <element name="lcOpenQuestion2" dita:longName="Open-ended question interaction" dita:since="1.2">
            <a:documentation><![CDATA[Use <lcOpenQuestion2> to pose an open-ended question in an assessment interaction. ]]></a:documentation>
            <ref name="lcOpenQuestion2.attlist"/>
            <ref name="lcOpenQuestion2.content"/>
          </element>
        </define>
        <define name="lcOpenQuestion2.attlist" combine="interleave">
          <ref name="lcOpenQuestion2.attributes"/>
        </define>
      </div>
    </div>
    <div>
      <a:documentation>OPTION DEFINITIONS</a:documentation>
      <div>
        <a:documentation>LONG NAME: Question (prompt)</a:documentation>
        <define name="lcQuestion2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcQuestion2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcQuestion2.element">
          <element name="lcQuestion2" dita:longName="Question (prompt)" dita:since="1.2">
            <a:documentation><![CDATA[Use the <lcQuestion2> element in an interaction to ask the question. ]]></a:documentation>
            <ref name="lcQuestion2.attlist"/>
            <ref name="lcQuestion2.content"/>
          </element>
        </define>
        <define name="lcQuestion2.attlist" combine="interleave">
          <ref name="lcQuestion2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Open answer</a:documentation>
        <define name="lcOpenAnswer2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcOpenAnswer2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcOpenAnswer2.element">
          <element name="lcOpenAnswer2" dita:longName="Open answer" dita:since="1.2">
            <a:documentation><![CDATA[Use <lcOpenAnswer2> to provide a suggested answer for an <lcOpenQuestion2> interaction. ]]></a:documentation>
            <ref name="lcOpenAnswer2.attlist"/>
            <ref name="lcOpenAnswer2.content"/>
          </element>
        </define>
        <define name="lcOpenAnswer2.attlist" combine="interleave">
          <ref name="lcOpenAnswer2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Answer option group</a:documentation>
        <define name="lcAnswerOptionGroup2.content">
          <zeroOrMore>
            <choice>
              <ref name="data"/>
            </choice>
          </zeroOrMore>
          <oneOrMore>
            <ref name="lcAnswerOption2"/>
          </oneOrMore>
        </define>
        <define name="lcAnswerOptionGroup2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcAnswerOptionGroup2.element">
          <a:documentation><![CDATA[The <lcAnswerOptionGroup2> element provides a container for the options for a true-false, single-select, or multiple-select assessment interaction. ]]></a:documentation>
          <element name="lcAnswerOptionGroup2" dita:longName="Answer option group" dita:since="1.2">
            <ref name="lcAnswerOptionGroup2.attlist"/>
            <ref name="lcAnswerOptionGroup2.content"/>
          </element>
        </define>
        <define name="lcAnswerOptionGroup2.attlist" combine="interleave">
          <ref name="lcAnswerOptionGroup2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Sequence option group</a:documentation>
        <define name="lcSequenceOptionGroup2.content">
          <zeroOrMore>
            <choice>
              <ref name="data"/>
            </choice>
          </zeroOrMore>
          <oneOrMore>
            <ref name="lcSequenceOption2"/>
          </oneOrMore>
        </define>
        <define name="lcSequenceOptionGroup2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcSequenceOptionGroup2.element">
          <element name="lcSequenceOptionGroup2" dita:longName="Sequence option group" dita:since="1.2">
            <a:documentation><![CDATA[The <lcSequenceOptionGroup2> element provides the options for an assessment sequence interaction. ]]></a:documentation>
            <ref name="lcSequenceOptionGroup2.attlist"/>
            <ref name="lcSequenceOptionGroup2.content"/>
          </element>
        </define>
        <define name="lcSequenceOptionGroup2.attlist" combine="interleave">
          <ref name="lcSequenceOptionGroup2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Interaction asset</a:documentation>
        <define name="lcAsset2.content">
          <zeroOrMore>
            <choice>
              <ref name="imagemap"/>
              <ref name="image"/>
              <ref name="object"/>
            </choice>
          </zeroOrMore>
        </define>
        <define name="lcAsset2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcAsset2.element">
          <element name="lcAsset2" dita:longName="Interaction asset" dita:since="1.2">
            <a:documentation><![CDATA[The <lcAsset2> element in an assessment interaction provides the images or other graphic assets to support the interaction. ]]></a:documentation>
            <ref name="lcAsset2.attlist"/>
            <ref name="lcAsset2.content"/>
          </element>
        </define>
        <define name="lcAsset2.attlist" combine="interleave">
          <ref name="lcAsset2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Sequence option</a:documentation>
        <define name="lcSequenceOption2.content">
          <ref name="lcAnswerContent2"/>
          <ref name="lcSequence2"/>
        </define>
        <define name="lcSequenceOption2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcSequenceOption2.element">
          <element name="lcSequenceOption2" dita:longName="Sequence option" dita:since="1.2">
            <a:documentation><![CDATA[The <lcSequenceOption2> element in an assessment interaction provides the contents of an item in a sequence interaction. ]]></a:documentation>
            <ref name="lcSequenceOption2.attlist"/>
            <ref name="lcSequenceOption2.content"/>
          </element>
        </define>
        <define name="lcSequenceOption2.attlist" combine="interleave">
          <ref name="lcSequenceOption2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Feedback</a:documentation>
        <define name="lcFeedback2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcFeedback2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcFeedback2.element">
          <element name="lcFeedback2" dita:longName="Feedback" dita:since="1.2">
            <a:documentation><![CDATA[The <lcFeedback2> element in an assessment interaction provides information to the learner about a correct or incorrect response. ]]></a:documentation>
            <ref name="lcFeedback2.attlist"/>
            <ref name="lcFeedback2.content"/>
          </element>
        </define>
        <define name="lcFeedback2.attlist" combine="interleave">
          <ref name="lcFeedback2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Correct-response feedback</a:documentation>
        <define name="lcFeedbackCorrect2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcFeedbackCorrect2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcFeedbackCorrect2.element">
          <element name="lcFeedbackCorrect2" dita:longName="Correct-response feedback" dita:since="1.2">
            <a:documentation><![CDATA[The <lcFeedbackCorrect2> element in an assessment interaction provides feedback to the learner about a correct response. ]]></a:documentation>
            <ref name="lcFeedbackCorrect2.attlist"/>
            <ref name="lcFeedbackCorrect2.content"/>
          </element>
        </define>
        <define name="lcFeedbackCorrect2.attlist" combine="interleave">
          <ref name="lcFeedbackCorrect2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Incorrect-response feedback</a:documentation>
        <define name="lcFeedbackIncorrect2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcFeedbackIncorrect2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcFeedbackIncorrect2.element">
          <element name="lcFeedbackIncorrect2" dita:longName="Incorrect-response feedback" dita:since="1.2">
            <a:documentation><![CDATA[The <lcFeedbackIncorrect2> element in an assessment interaction provides feedback about incorrect response. ]]></a:documentation>
            <ref name="lcFeedbackIncorrect2.attlist"/>
            <ref name="lcFeedbackIncorrect2.content"/>
          </element>
        </define>
        <define name="lcFeedbackIncorrect2.attlist" combine="interleave">
          <ref name="lcFeedbackIncorrect2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Answer option</a:documentation>
        <define name="lcAnswerOption2.content">
          <ref name="lcAnswerContent2"/>
          <optional>
            <ref name="lcCorrectResponse2"/>
          </optional>
          <optional>
            <ref name="lcFeedback2"/>
          </optional>
        </define>
        <define name="lcAnswerOption2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcAnswerOption2.element">
          <element name="lcAnswerOption2" dita:longName="Answer option" dita:since="1.2">
            <a:documentation><![CDATA[The <lcAnswerOption2> element in an assessment interaction provides the content and feedback for a question option, and can indicate the correct option. ]]></a:documentation>
            <ref name="lcAnswerOption2.attlist"/>
            <ref name="lcAnswerOption2.content"/>
          </element>
        </define>
        <define name="lcAnswerOption2.attlist" combine="interleave">
          <ref name="lcAnswerOption2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Answer content</a:documentation>
        <define name="lcAnswerContent2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcAnswerContent2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcAnswerContent2.element">
          <element name="lcAnswerContent2" dita:longName="Answer content" dita:since="1.2">
            <a:documentation><![CDATA[The <lcAnswerContent2> element in a learning assessment interaction provides the content for an answer option, which the learner can select as correct or incorrect. ]]></a:documentation>
            <ref name="lcAnswerContent2.attlist"/>
            <ref name="lcAnswerContent2.content"/>
          </element>
        </define>
        <define name="lcAnswerContent2.attlist" combine="interleave">
          <ref name="lcAnswerContent2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Matching table</a:documentation>
        <define name="lcMatchTable2.content">
          <optional>
            <ref name="lcMatchingHeader2"/>
          </optional>
          <oneOrMore>
            <ref name="lcMatchingPair2"/>
          </oneOrMore>
        </define>
        <define name="lcMatchTable2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcMatchTable2.element">
          <element name="lcMatchTable2" dita:longName="Matching table" dita:since="1.2">
            <a:documentation><![CDATA[The <lcMatchTable2> element in an assessment interaction provides a format for matching items. ]]></a:documentation>
            <ref name="lcMatchTable2.attlist"/>
            <ref name="lcMatchTable2.content"/>
          </element>
        </define>
        <define name="lcMatchTable2.attlist" combine="interleave">
          <ref name="lcMatchTable2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Matching table header</a:documentation>
        <define name="lcMatchingHeader2.content">
          <ref name="lcItem2"/>
          <ref name="lcMatchingItem2"/>
        </define>
        <define name="lcMatchingHeader2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcMatchingHeader2.element">
          <element name="lcMatchingHeader2" dita:longName="Matching table header" dita:since="1.2">
            <a:documentation><![CDATA[The <lcMatchingHeader2> element in an assessment interaction provides column headings for items to present in a matching table. ]]></a:documentation>
            <ref name="lcMatchingHeader2.attlist"/>
            <ref name="lcMatchingHeader2.content"/>
          </element>
        </define>
        <define name="lcMatchingHeader2.attlist" combine="interleave">
          <ref name="lcMatchingHeader2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Matching assessment pair</a:documentation>
        <define name="lcMatchingPair2.content">
          <ref name="lcItem2"/>
          <ref name="lcMatchingItem2"/>
          <optional>
            <ref name="lcMatchingItemFeedback2"/>
          </optional>
        </define>
        <define name="lcMatchingPair2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcMatchingPair2.element">
          <element name="lcMatchingPair2" dita:longName="Matching assessment pair" dita:since="1.2">
            <a:documentation><![CDATA[The <lcMatchingPair2> element in an assessment interaction provides a table row with the pair of items that comprise a correct match in a matching interaction. ]]></a:documentation>
            <ref name="lcMatchingPair2.attlist"/>
            <ref name="lcMatchingPair2.content"/>
          </element>
        </define>
        <define name="lcMatchingPair2.attlist" combine="interleave">
          <ref name="lcMatchingPair2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Item to be matched</a:documentation>
        <define name="lcItem2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcItem2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcItem2.element">
          <element name="lcItem2" dita:longName="Item to be matched" dita:since="1.2">
            <a:documentation><![CDATA[The <lcItem2> element in an assessment interaction provides the content for an item that matches the match item in a match table. ]]></a:documentation>
            <ref name="lcItem2.attlist"/>
            <ref name="lcItem2.content"/>
          </element>
        </define>
        <define name="lcItem2.attlist" combine="interleave">
          <ref name="lcItem2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Matching item</a:documentation>
        <define name="lcMatchingItem2.content">
          <zeroOrMore>
            <ref name="div.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcMatchingItem2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcMatchingItem2.element">
          <element name="lcMatchingItem2" dita:longName="Matching item" dita:since="1.2">
            <a:documentation><![CDATA[The <lcMatchingItem2> element in an assessment interaction provides the content for the matching side of a matching pair of items in a match table interaction. ]]></a:documentation>
            <ref name="lcMatchingItem2.attlist"/>
            <ref name="lcMatchingItem2.content"/>
          </element>
        </define>
        <define name="lcMatchingItem2.attlist" combine="interleave">
          <ref name="lcMatchingItem2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Matching item feedback</a:documentation>
        <define name="lcMatchingItemFeedback2.content">
          <zeroOrMore>
            <choice>
              <ref name="lcFeedback2"/>
              <ref name="lcFeedbackCorrect2"/>
              <ref name="lcFeedbackIncorrect2"/>
            </choice>
          </zeroOrMore>
        </define>
        <define name="lcMatchingItemFeedback2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcMatchingItemFeedback2.element">
          <element name="lcMatchingItemFeedback2" dita:longName="Matching item feedback" dita:since="1.2">
            <a:documentation>???</a:documentation>
            <ref name="lcMatchingItemFeedback2.attlist"/>
            <ref name="lcMatchingItemFeedback2.content"/>
          </element>
        </define>
        <define name="lcMatchingItemFeedback2.attlist" combine="interleave">
          <ref name="lcMatchingItemFeedback2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Hot spot map interaction</a:documentation>
        <define name="lcHotspotMap2.content">
          <ref name="image"/>
          <oneOrMore>
            <ref name="lcArea2"/>
          </oneOrMore>
        </define>
        <define name="lcHotspotMap2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcHotspotMap2.element">
          <element name="lcHotspotMap2" dita:longName="Hot spot map interaction" dita:since="1.2">
            <a:documentation><![CDATA[A lcHotspotMap interaction lets you designate an action area or region over an image, allowing a click in that region to get scored as correct or incorrect in respoinse to an interaction question. ]]></a:documentation>
            <ref name="lcHotspotMap2.attlist"/>
            <ref name="lcHotspotMap2.content"/>
          </element>
        </define>
        <define name="lcHotspotMap2.attlist" combine="interleave">
          <ref name="lcHotspotMap2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Hotspot area</a:documentation>
        <define name="lcArea2.content">
          <ref name="lcAreaShape2"/>
          <ref name="lcAreaCoords2"/>
          <optional>
            <ref name="xref"/>
          </optional>
          <optional>
            <ref name="lcCorrectResponse2"/>
          </optional>
          <optional>
            <ref name="lcFeedback2"/>
          </optional>
        </define>
        <define name="lcArea2.attributes">
          <ref name="univ-atts"/>
     </define>
        <define name="lcArea2.element">
          <element name="lcArea2" dita:longName="Hotspot area" dita:since="1.2">
            <a:documentation><![CDATA[A lcArea defines an area of a hotspot image that contains a correct or incorrect choice in a hotspot assessment interaction. ]]></a:documentation>
            <ref name="lcArea2.attlist"/>
            <ref name="lcArea2.content"/>
          </element>
        </define>
        <define name="lcArea2.attlist" combine="interleave">
          <ref name="lcArea2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Hotspot area shape</a:documentation>
        <define name="lcAreaShape2.content">
          <zeroOrMore>
            <choice>
              <text/>
              <ref name="text"/>
            </choice>
          </zeroOrMore>
        </define>
        <define name="lcAreaShape2.attributes">
          <optional>
            <attribute name="keyref"/>
          </optional>
          <ref name="univ-atts-translate-no"/>
     </define>
        <define name="lcAreaShape2.element">
          <element name="lcAreaShape2" dita:longName="Hotspot area shape" dita:since="1.2">
            <ref name="lcAreaShape2.attlist"/>
            <ref name="lcAreaShape2.content"/>
          </element>
        </define>
        <define name="lcAreaShape2.attlist" combine="interleave">
          <ref name="lcAreaShape2.attributes"/>
        </define>

      </div>
      <div>
        <a:documentation> LONG NAME: Hotspot area coordinates</a:documentation>
        <define name="lcAreaCoords2.content">
          <zeroOrMore>
            <ref name="words.cnt"/>
          </zeroOrMore>
        </define>
        <define name="lcAreaCoords2.attributes">
          <optional>
            <attribute name="keyref"/>
          </optional>
          <ref name="univ-atts-translate-no"/>
     </define>
        <define name="lcAreaCoords2.element">
          <element name="lcAreaCoords2" dita:longName="Hotspot area coordinates" dita:since="1.2">
            <ref name="lcAreaCoords2.attlist"/>
            <ref name="lcAreaCoords2.content"/>
          </element>
        </define>
        <define name="lcAreaCoords2.attlist" combine="interleave">
          <ref name="lcAreaCoords2.attributes"/>
        </define>
      </div>
    </div>
    <div>
      <a:documentation>CHOICE DEFINITIONS</a:documentation>
      <div>
        <a:documentation>LONG NAME: Correct response</a:documentation>
        <define name="lcCorrectResponse2.content">
          <empty/>
        </define>
        <define name="lcCorrectResponse2.attributes">
          <optional>
            <attribute name="name" a:defaultValue="lcCorrectResponse"/>
          </optional>
          <optional>
            <attribute name="value" a:defaultValue="lcCorrectResponse"/>
          </optional>
          <ref name="univ-atts"/>
     </define>
        <define name="lcCorrectResponse2.element">
          <element name="lcCorrectResponse2" dita:longName="Correct response" dita:since="1.2">
            <a:documentation><![CDATA[The <lcCorrectResponse2> element in an assessment interaction indicates a correct response. ]]></a:documentation>
            <ref name="lcCorrectResponse2.attlist"/>
            <ref name="lcCorrectResponse2.content"/>
          </element>
        </define>
        <define name="lcCorrectResponse2.attlist" combine="interleave">
          <ref name="lcCorrectResponse2.attributes"/>
        </define>
      </div>
      <div>
        <a:documentation>LONG NAME: Sequence position</a:documentation>
        <define name="lcSequence2.content">
          <empty/>
        </define>
        <define name="lcSequence2.attributes">
          <optional>
            <attribute name="name" a:defaultValue="lcSequence"/>
          </optional>
          <attribute name="value"/>
          <ref name="univ-atts"/>
     </define>
        <define name="lcSequence2.element">
          <element name="lcSequence2" dita:longName="Sequence position" dita:since="1.2">
            <a:documentation><![CDATA[The <lcSequence2> element in an assessment interaction provides the position of a sequence option in a sequence. ]]></a:documentation>
            <ref name="lcSequence2.attlist"/>
            <ref name="lcSequence2.content"/>
          </element>
        </define>
        <define name="lcSequence2.attlist" combine="interleave">
          <ref name="lcSequence2.attributes"/>
        </define>
      </div>
    </div>
  </div>
  <div>
    <a:documentation>Interaction base 2 specialized from interactionBase from learningInteractionBase domain.
    
    This declaration is not strictly conforming because it should be in a separate domain module. However,
    as this domain is merely a convenience to allow legacy learning2 domain elements to work as-is in 
    2.0, this declaration enables migration without adding unwanted complexity of a separate interaction base 2
    domain module.
    </a:documentation>
    <div>
      <a:documentation>Long Name: Learning interaction label</a:documentation>
      <define name="lcInteractionLabel2.content">
        <zeroOrMore>
          <ref name="title.cnt"/>
        </zeroOrMore>
      </define>
      <define name="lcInteractionLabel2.attributes">
        <ref name="univ-atts"/>
      </define>
      <define name="lcInteractionLabel2.element">
        <element name="lcInteractionLabel2" dita:longName="Learning interaction question base"
          dita:since="1.3">
          <ref name="lcInteractionLabel2.attlist"/>
          <ref name="lcInteractionLabel2.content"/>
        </element>
      </define>
      <define name="lcInteractionLabel2.attlist" combine="interleave">
        <ref name="lcInteractionLabel2.attributes"/>
      </define>
    </div>
    
  </div>
  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTE DECLARATIONS</a:documentation>

    <define name="lcInstructornote2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/note learningInteractionBase-d/note learning-d/lcInstructornote learning2-d/lcInstructornote2 "/>
      </optional>
    </define>
    <define name="lcTrueFalse2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcInteractionBase learning-d/lcTrueFalse learning2-d/lcTrueFalse2 "/>
      </optional>
    </define>
    <define name="lcSingleSelect2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcInteractionBase learning-d/lcSingleSelect learning2-d/lcSingleSelect2 "/>
      </optional>
    </define>
    <define name="lcMultipleSelect2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcInteractionBase learning-d/lcMultipleSelect learning2-d/lcMultipleSelect2 "/>
      </optional>
    </define>
    <define name="lcSequencing2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcInteractionBase learning-d/lcSequencing learning2-d/lcSequencing2 "/>
      </optional>
    </define>
    <define name="lcMatching2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcInteractionBase learning-d/lcMatching learning2-d/lcMatching2 "/>
      </optional>
    </define>
    <define name="lcHotspot2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcInteractionBase learning-d/lcHotspot learning2-d/lcHotspot2 "/>
      </optional>
    </define>
    <define name="lcOpenQuestion2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcInteractionBase learning-d/lcOpenQuestion learning2-d/lcOpenQuestion2 "/>
      </optional>
    </define>
    <define name="lcQuestion2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/lcQuestionBase learning-d/lcQuestion learning2-d/lcQuestion2 "/>
      </optional>
    </define>
    <define name="lcOpenAnswer2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/div learning-d/lcOpenAnswer learning2-d/lcOpenAnswer2 "/>
      </optional>
    </define>
    <define name="lcAsset2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/div learning-d/lcAsset learning2-d/lcAsset2 "/>
      </optional>
    </define>
    <define name="lcFeedback2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/div learning-d/lcFeedback learning2-d/lcFeedback2 "/>
      </optional>
    </define>
    <define name="lcFeedbackCorrect2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/div learning-d/lcFeedbackCorrect learning2-d/lcFeedbackCorrect2 "/>
      </optional>
    </define>
    <define name="lcFeedbackIncorrect2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/div learning-d/lcFeedbackIncorrect learning2-d/lcFeedbackIncorrect2 "/>
      </optional>
    </define>
    <define name="lcAnswerOption2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/li learningInteractionBase-d/li learning-d/lcAnswerOption learning2-d/lcAnswerOption2 "/>
      </optional>
    </define>
    <define name="lcAnswerOptionGroup2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ul learningInteractionBase-d/ul learning-d/lcAnswerOptionGroup learning2-d/lcAnswerOptionGroup2 "/>
      </optional>
    </define>
    <define name="lcAnswerContent2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div learningInteractionBase-d/div learning-d/lcAnswerContent learning2-d/lcAnswerContent2 "/>
      </optional>
    </define>
    <define name="lcMatchTable2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/simpletable learningInteractionBase-d/simpletable learning-d/lcMatchTable learning2-d/lcMatchTable2 "/>
      </optional>
    </define>
    <define name="lcMatchingHeader2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/sthead learningInteractionBase-d/sthead learning-d/lcMatchingHeader learning2-d/lcMatchingHeader2 "/>
      </optional>
    </define>
    <define name="lcMatchingPair2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/strow learningInteractionBase-d/strow learning-d/lcMatchingPair learning2-d/lcMatchingPair2 "/>
      </optional>
    </define>
    <define name="lcItem2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/stentry learningInteractionBase-d/stentry learning-d/lcItem learning2-d/lcItem2 "/>
      </optional>
    </define>
    <define name="lcMatchingItem2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/stentry learningInteractionBase-d/stentry learning-d/lcMatchingItem learning2-d/lcMatchingItem2 "/>
      </optional>
    </define>
    <define name="lcMatchingItemFeedback2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/stentry learningInteractionBase-d/stentry learning-d/lcMatchingItemFeedback learning2-d/lcMatchingItemFeedback2 "/>
      </optional>
    </define>
    <define name="lcSequenceOptionGroup2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ol learningInteractionBase-d/ol learning-d/lcSequenceOptionGroup learning2-d/lcSequenceOptionGroup2 "/>
      </optional>
    </define>
    <define name="lcSequenceOption2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/li learningInteractionBase-d/li learning-d/lcSequenceOption learning2-d/lcSequenceOption2 "/>
      </optional>
    </define>
    <define name="lcSequence2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/data learningInteractionBase-d/data learning-d/lcSequence learning2-d/lcSequence2 "/>
      </optional>
    </define>
    <define name="lcCorrectResponse2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/data learningInteractionBase-d/data learning-d/lcCorrectResponse learning2-d/lcCorrectResponse2 "/>
      </optional>
    </define>
    <define name="lcHotspotMap2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/fig learningInteractionBase-d/figgroup learning-d/lcHotspotMap learning2-d/lcHotspotMap2 "/>
      </optional>
    </define>
    <define name="lcArea2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/figgroup learningInteractionBase-d/figgroup learning-d/lcArea learning2-d/lcArea2 "/>
      </optional>
    </define>
    <define name="lcAreaShape2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/keyword learningInteractionBase-d/keyword learning-d/lcAreaShape learning2-d/lcAreaShape2 "/>
      </optional>
    </define>
    <define name="lcAreaCoords2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph learningInteractionBase-d/ph learning-d/lcAreaCoords learning2-d/lcAreaCoords2 "/>
      </optional>
    </define>
    <define name="lcInteractionLabel2.attlist" combine="interleave">
      <optional>
        <attribute name="class"
          a:defaultValue="+ topic/p   learningInteractionBase-d/lcInteractionLabel learningInteractionBase2-d/lcInteractionLabel2 "/>
      </optional>
    </define>    
  </div>
</grammar>
